@import url("https://fonts.googleapis.com/css2?family=Jura:wght@500;600;900&display=swap");
body {
  background-image: linear-gradient(to right top, #bad1f1, #bbcdee, #bdc9eb, #bec4e7, #c0c0e3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 900;
  font-family: "Roboto", "sans-serif";
}

.header {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 25px;
  margin-bottom: 2%;
  background: transparent;
  z-index: 100;
}

.navbar .navbar-brand {
  font-size: 25px;
  text-shadow: 0 2px 1px #948dc3, -1px 3px 1px #edf1fb, -2px 5px 1px #654fa5;
  color: #000;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: default;
  font-family: "Courier New", Courier, monospace;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar .nav-link {
  font-size: 18px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  margin-left: 22px;
  transition: 0.3s;
  background-image: linear-gradient(to right, #22718e, #183795 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar a:before {
  content: "";
  background: #183795;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.navbar a:hover::before {
  width: 100%;
}

.navbar a:hover,
.navbar a.active {
  color: #183795;
  background-position: 0;
}

.navbar-toggler {
  background-color: #9ea9d4;
}

.navbar-toggler-icon {
  background-image: none !important;
  background-color: var(--bs-gray-800);
  height: 3px;
  width: 25px;
  margin: 10px 0;
  position: relative;
  transition: all 0.35s ease-out;
  transform-origin: center;
}

.navbar-toggler-icon::before {
  display: block;
  background-color: var(--bs-gray-800);
  height: 3px;
  content: "";
  position: relative;
  top: -7px;
  transition: all 0.15s ease-out;
  transform-origin: center;
}

.navbar-toggler-icon::after {
  display: block;
  background-color: var(--bs-gray-800);
  height: 3px;
  content: "";
  position: relative;
  top: 4px;
  transition: all 0.35s ease-out;
  transform-origin: center;
}

.navbar-dark .navbar-toggler-icon,
.navbar-dark .navbar-toggler-icon::before,
.navbar-dark .navbar-toggler-icon::after {
  background-color: var(--bs-gray-100);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  transform: rotate(45deg);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
  transform: rotate(-90deg) translateX(7px);
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.row .col {
  padding-bottom: 10px;
}

.page-section {
  padding: 7.5rem 0;
}

.linetime {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.linetime:before {
  content: "";
  top: 0;
  left: 40px;
  height: 100%;
  width: 2px;
  background-color: #000;
  border: 1px solid #303335;
  position: absolute;
  margin-left: 1px;
}

.linetime li {
  position: relative;
  margin-bottom: 2rem;
  min-height: 60px;
}
.linetime li:before, .linetime li:after {
  display: table;
  content: "";
}
.linetime li:after {
  clear: both;
}

.linetime-panel {
  position: relative;
  padding-left: 100px;
}

.text-muted {
  font-family: "Jura", sans-serif;
  font-weight: 800;
  color: black !important;
}

.linetime-img {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 6px solid #000;
  overflow: hidden;
  background: #000;
  color: #fff;
}

.linetime-img h4 {
  font-size: 0.8rem;
  margin-top: 50%;
  font-family: "Courier New", Courier, monospace;
  transform: translateY(-50%);
}

.linetime-panel-heading h2 {
  font-family: monospace, "Roboto Mono", sans-serif;
}

.linetime-panel-subheading h2 {
  font-family: "Shrikhand", serif;
  text-shadow: 1px 1px 1px #957dad, 1px 1px 1px #957dad, 1px 6px 2px rgba(16, 16, 16, 0.2), 1px 8px 4px rgba(16, 16, 16, 0.1);
  transform: translateY(-0.025em) translateX(0.04em);
  transition: text-shadow 0.3s linear;
}

@media (min-width: 768px) {
  .linetime:before {
    left: 50%;
  }
  .linetime li {
    position: relative;
    margin-bottom: 2rem;
    min-height: 50px;
  }
  .linetime-panel {
    width: 40%;
    padding: 0;
    float: left;
    text-align: right;
  }
  .linetime-img {
    left: 50%;
    transform: translateX(-48%);
    width: 120px;
    height: 120px;
  }
  .linetime-img h4 {
    font-size: 1rem;
  }
  .inverted {
    float: right;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .linetime li {
    position: relative;
    margin-bottom: 6rem;
    min-height: 50px;
  }
  .linetime-img {
    width: 170px;
    height: 170px;
  }
  .linetime-img h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
  .linetime-panel {
    padding: 0 1.25rem;
  }
}

/*# sourceMappingURL=education.css.map */
