body {
  background-image: linear-gradient(to right top, #bad1f1, #bbcdee, #bdc9eb, #bec4e7, #c0c0e3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 900;
  font-family: "Roboto", "sans-serif";
}

.header {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 25px;
  margin-bottom: 2%;
  background: transparent;
  z-index: 100;
}

.navbar .navbar-brand {
  font-size: 25px;
  text-shadow: 0 2px 1px #948dc3, -1px 3px 1px #edf1fb, -2px 5px 1px #654fa5;
  color: #000;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: default;
  font-family: "Courier New", Courier, monospace;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar .nav-link {
  font-size: 18px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  margin-left: 22px;
  transition: 0.3s;
  background-image: linear-gradient(to right, #22718e, #183795 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar a:before {
  content: "";
  background: #183795;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.navbar a:hover::before {
  width: 100%;
}

.navbar a:hover,
.navbar a.active {
  color: #183795;
  background-position: 0;
}

.navbar-toggler {
  background-color: #9ea9d4;
}

.navbar-toggler-icon {
  background-image: none !important;
  background-color: var(--bs-gray-800);
  height: 3px;
  width: 25px;
  margin: 10px 0;
  position: relative;
  transition: all 0.35s ease-out;
  transform-origin: center;
}

.navbar-toggler-icon::before {
  display: block;
  background-color: var(--bs-gray-800);
  height: 3px;
  content: "";
  position: relative;
  top: -7px;
  transition: all 0.15s ease-out;
  transform-origin: center;
}

.navbar-toggler-icon::after {
  display: block;
  background-color: var(--bs-gray-800);
  height: 3px;
  content: "";
  position: relative;
  top: 4px;
  transition: all 0.35s ease-out;
  transform-origin: center;
}

.navbar-dark .navbar-toggler-icon,
.navbar-dark .navbar-toggler-icon::before,
.navbar-dark .navbar-toggler-icon::after {
  background-color: var(--bs-gray-100);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  transform: rotate(45deg);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
  transform: rotate(-90deg) translateX(7px);
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 390px;
  height: 720px;
  background: #948dc2;
  border-radius: 30px;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.phone-mirror {
  position: relative;
  width: 420px;
  height: 670px;
  background-color: #d1cff7;
  border-radius: 30px;
}

.topWrapper {
  position: relative;
  width: 130px;
  height: 20px;
  margin: 0px auto 0 auto;
  float: left;
  left: 30%;
  background-color: #b3afdb;
  border-radius: 0 0 45px 45px;
}

.line-rec {
  position: relative;
  width: 60px;
  height: 6px;
  margin: 0px auto 0 auto;
  float: left;
  left: 20%;
  top: 4px;
  background-color: rgb(83, 83, 82);
  border-radius: 5px;
  border: 1px solid rgb(214, 214, 214);
}

.camera {
  position: relative;
  float: left;
  margin-right: 8px;
  left: 18%;
  width: 11px;
  height: 11px;
  top: 1px;
  background-color: rgb(83, 83, 82);
  border-radius: 30px;
  border: 1px solid rgb(214, 214, 214);
}

.styled-button {
  font-size: 16px;
  margin: 50px 35px 30px;
  letter-spacing: 1px;
  padding: 15px;
  width: 80%;
  font-weight: 800;
  letter-spacing: 1px;
  font-family: "Roboto", "sans-serif";
  text-shadow: 1px 1px 1px #957dad, 1px 2px 1px #957dad, 1px 2px 1px #957dad, 1px 6px 2px rgba(16, 16, 16, 0.2), 1px 8px 4px rgba(16, 16, 16, 0.1);
  background-color: #a2a1cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.styled-button:hover {
  transform: scale(1.1);
  z-index: 9;
  border: 2px solid #fff;
}

.button-container {
  position: relative;
}

.button-info {
  display: none;
  position: absolute;
  top: 0;
}

.button-container:nth-child(odd) .button-info {
  left: 120%;
}

.button-container:nth-child(even) .button-info {
  right: 120%;
}

.styled-button:hover + .button-info {
  display: block;
}

.skills-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-icon {
  display: inline-block;
  margin-right: 10px;
}

.skill-icon iconify-icon {
  font-size: 2em;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: #edf1fb;
  border-radius: 50%;
  padding: 10px;
  margin: 4px auto;
  transition: background-color 0.3s ease;
}

/* Media query for smaller screens */
@media only screen and (max-width: 668px) {
  .phone {
    height: 760px;
  }
  .phone-mirror {
    height: 720px;
  }
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 85%;
  }
  .styled-button {
    width: 100%;
    margin-left: 32%;
  }
  .button-info {
    display: none;
    position: relative;
    text-align: center;
  }
  .button-container:nth-child(odd) .button-info,
  .button-container:nth-child(even) .button-info {
    right: 0;
    left: 0;
  }
  .button-container:hover .button-info {
    display: block;
  }
  .skill-icon {
    margin: 0 20px;
  }
  .skill-icon iconify-icon {
    font-size: 1.5em;
    padding: 8px;
  }
}
.popup-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 2em;
  color: #fff;
  cursor: pointer;
}

/*# sourceMappingURL=skills.css.map */
