@use "../utilities/variables.scss";
@use "../utilities/navigation.scss";

.row .col {
  padding-bottom: 10px;
}

//cover
.page-section {
  padding: 7.5rem 0;
}

//cover (ul)
.linetime {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  &:before {
    content: "";
    top: 0;
    left: 40px;
    height: 100%;
    width: 2px;
    background-color: variables.$main-text-color;
    border: 1px solid variables.$dark-gray;
    position: absolute;
    margin-left: 1px;
  }
}

//cover (li)
.linetime li {
  position: relative;
  margin-bottom: 2rem;
  min-height: 60px;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

.linetime-panel {
  position: relative;
  padding-left: 100px;
}

.linetime-img {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 6px solid variables.$main-text-color;
  overflow: hidden;
  background: variables.$main-text-color;
  color: #fff;
}
.linetime-img h4 {
  font-size: 0.8rem;
  margin-top: 50%;
  font-family: "Courier New", Courier, monospace;
  transform: translateY(-50%);
}
.linetime-panel-heading h2 {
  font-family: variables.$headrs-font-family;
}
.linetime-panel-subheading h2 {
  font-family: "Shrikhand", serif;
}

@media (min-width: 768px) {
  //cover (ul)
  .linetime:before {
    left: 50%;
  }

  //cover (li)
  .linetime li {
    position: relative;
    margin-bottom: 2rem;
    min-height: 50px;
  }

  .linetime-panel {
    width: 40%;
    padding: 0;
    float: left;
    text-align: right;
  }

  .linetime-img {
    left: 50%;
    transform: translateX(-48%);
    width: 120px;
    height: 120px;
  }
  .linetime-img h4 {
    font-size: 1rem;
  }
  .inverted {
    float: right;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .linetime li {
    position: relative;
    margin-bottom: 6rem;
    min-height: 50px;
  }
  .linetime-img {
    width: 170px;
    height: 170px;
  }
  .linetime-img h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
  .linetime-panel {
    padding: 0 1.25rem;
  }
}
